/*@font-face { font-family: 'MapoFlowerIsland'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); font-weight: normal; font-style: normal; }*/

@font-face { font-family: 'InfinitySans-RegularA1'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }

#fp-nav ul li a span, 
.fp-slidesNav ul li a span:active{
    background: #b88a75 !important;
}


.section01{
    width: 100%;
    position: relative;
}
.main_bg01 {
    background: url('../images/20200702.jpg');
    background-position:right center;
    /* background-size:cover; */
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    transition: all 0.5s;
    
}

.title {
   
    font-size:80pt;
    font-family: 'InfinitySans-RegularA1';
    color: #b88a75;
    padding-top: 1%;
    padding-bottom: 4%;
}
.title2{
    color:#b88a75; 
    font-size: 17pt;
    font-family: 'InfinitySans-RegularA1';
}
.title2>p{
 margin-top: -4%;
}


.logo-img-width img {
    width:8%;
    margin-top: 1%;

}
/* .logo-bg{
    background: #fff;
    padding: 10px;
} */


.align-items {
    vertical-align: middle;
}



.img-padding {
   padding-top: 4%;
    padding-bottom: 2%;
}
.line-height p{
    line-height: 40px;
    margin-bottom: -2px;
    border-top: 1px solid #2e3a36;
    border-bottom: 1px solid #2e3a36;
    font-family: 'InfinitySans-RegularA1';
}
.span-spacing p {
    margin-left: 3%;
    font-family: 'InfinitySans-RegularA1';
}

.span-spacing span {
    margin-left: 7%;
}
.margin-top-5{
    margin-top: -5%;
}


/* section01 */


.section20{
    width: 100%;
}
.sub-bg{
    background: url('../images/section20_06.jpg');
    background-position: bottom right;
   height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.icon-img1 img {
    width: 20%;
}
.position{
    position: relative;
    top: 83%;
    z-index: 5;
}
.icon-bg {
    position: absolute;
    top: 84%;
    width: 100%;
    height: 16%;
    background: white;
}
/* section20 end */


.section02 {
  width: 100%;
}
.main_txt{
    font-size: 50pt;
    color: #b88a75;
    font-family: 'MapoFlowerIsland';
    font-weight: 800;
}

#r2t,
#mc,
#tb,
#cb,
#rf {
    display: none;
}
#r2t1,
#mc1,
#tb1,
#cb1,
#rf1 {
    display: none;
}
.colors>ul>li>a>h3{
    color: inherit;
}
.subject-wrap {
    display: flex;
}
.select-txt {
    margin-right: 45%;
    font-family: 'MapoFlowerIsland';
}
.col-sm-12>ul>li {
    list-style: none;
   }
.col-sm-4>ul>li{
    list-style: none;
}
.subject {
    font-weight: 600;
    font-size: 12pt;
}
.tab-color-text>ul>li {
    list-style: none;
    border: 3.7px solid #ccc;
    border-radius: 50px;
    margin: 10px 20px;
}
.tab-color-text>ul>li>a{
    display: block;
    width: 30px;
    height: 30px;
}
.tab-color-text>ul {
    display: flex;
   margin-left: -3%;
}

.col-sm-6>ul>li {
    list-style: none;
}

.col-sm-4>ul>li>a {
    text-decoration: none;
    color: inherit;
 }
.padding-10 {
    padding-top: 5%;
}
.padding-left-30 {
    padding-left: 30%;
}
.wc9 {
    background-color: #f2f4f3;
}
.r2t {
    background-color: #464a49;
}
.mc {
    background-color: #222c3d;
}
.tb {
    background-color: #18181a;
}
.cb {
    background-color: #381719;
}
.rf {
    background-color: #2e3a36;
}

/* section02 end */
.section03{
    width: 100%;
}
.section03-img{
    background: url('../images/bb.jpg');
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.myModal01{
    position: absolute;
    z-index: 9999;
    top: 200px;
    left: 200px;
}
.modal-title{
    color: #b88a75;
}

/* section03 end */
.section21{
    width: 100%;
}
.bg_boxing{
    width: 100%;
}
.bg_box{
    overflow: hidden;
    cursor: pointer;
}
.bgbox_wrap{
    overflow: hidden;
    width: 33.3%;
}
.bg00{
    background: url('../images/blue88.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
.bg01{
    background: url('../images/01backlight.jpg');
    width: 100%;
    height:25vh;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    overflow: hidden; 
    transition: 1s;
}
.bg02{
    background: url('../images/02bottom.jpg');
    width: 100%;
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    overflow: hidden;
    transition: 1s;
    
}
.bg03{
    background: url('../images/03frontgrill.jpg');
    width: 100%;
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden; 
    transition: 1s;
}
.bg04{
    background: url('../images/04headlight.jpg');
    width: 100%;
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden; 
    transition: 1s;
}
.bg05{
    background: url('../images/05wheel.jpg');
    width: 100%;
    height: 25vh;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    overflow: hidden; 
    transition: 1s;
}
.bg06{
    background: url('../images/06frontlight.jpg');
    width: 100%;
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    overflow: hidden;
    transition: 1s;
}
.bg01:hover{
    transform: scale(1.1);
    opacity: .7;
}
.bg02:hover{
    transform: scale(1.1);
    opacity: .7;
}
.bg03:hover{
    transform: scale(1.1);
    opacity: .7;
}
.bg04:hover{
    transform: scale(1.1);
    opacity: .7;
}
.bg05:hover{
    transform: scale(1.1);
    opacity: .7;
}
.bg06:hover{
    transform: scale(1.1);
    opacity: .7;
}
.modal {
    position: absolute;
    z-index: 9999999;
}
.section04{
  width: 100%;
}
.text-al>span{
    letter-spacing: .3px;
}
.interior-img1{
    background: url('../images/file/round-seat.jpg');
    background-size:cover;
    width: 100%;
    height: 70vh;
    position: relative;
    background-repeat: no-repeat;
}
.point .bg {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 27px;
    height: 27px;
    background-color: rgb(255, 255, 255,0.2);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    animation: record-lg 1.5s ease-in-out infinite;
    cursor: pointer;
}
@keyframes record-lg {
	0% {
		opacity: 0;
		transform: scale(.5);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
.point .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 15px;
    height: 15px;
    margin-top: -4px;
    margin-left: -4px;
    background-color: rgb(59, 173, 107);
    border-radius: 50%;
    animation: dot-effec 1.5s ease-in-out infinite;
    cursor: pointer;
}
@keyframes dot-effec {
	0% {
		opacity: .5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: .5;
	}
}
.conts-area .point.point-1 {
    top: 20%;
    left: 75%;
    /* 네비게이션 */
}
.conts-area  .point.point-2 {
    top: 85%;
    left: 60%;
    /* 물통꽂는 */
}
.conts-area  .point.point-3 {
    top: 27%;
    left: 47.5%;
    /* 핸들 */
}
.conts-area  .point.point-4 {
    top: 90%;
    left:48%;
    /* 핸드레스트 */
}
.conts-area  .point.point-5 {
    top: 23%;
    left: 53%;
    /* 계기판 */
}
.conts-area .point-6 {
    top: 61%;
    left: 64%;
    /* 제어판 */
}
.conts-area  .point {
    position: absolute;
    width: 32px;
    height: 32px;
}
/* section04 end */

.section05{
    position: relative;
    width: 100%;
    padding-bottom: 3%;

}

.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .slider-txt{
    text-align: center;
    padding-top: 3%;
    position: relative;
    width: 30%;
    padding-left: 10%;
  }
  .slider-txt p{
    font-size: 25pt;
    position: absolute;
  }

#slide-txt2,#slide-txt3,#slide-txt4{
    display: none;
}
.slide-txt {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0%;
    left: 0;
    height:14%;
   
    background-color: rgba(0,0,0,.3);
    color: #fff;
    font-size:24px;
    text-align:center;
    padding:0 25px;
    }
.slide-txt>p{
    padding-top: 2.5%;
}
.swiper-slide>img{
    width: 100%;
}

 /*section05 end */
.section06{
   width: 100%;
}
.tab-explain{
    line-height: 25px;
    padding-top: 5%;
    font-size: 15pt;
}
.tab-explain>ul>li{
    list-style: none;
}
#ex02,#ex03,#ex04{
    display: none;
}

.tab-pane>img{
    width:100%;
}


/* section06 end */
.section07{
    width: 100%;
}
.sleeping-img img{
    width: 100%;
}
.Various_img{
    width: 90%;
}
.Various_wrap{
    display: block;
}
.varioush5{
    padding: 1.3% 0 1.3% 0;
}

.section08{
    width: 100%;

    position: relative;
   
    
}
/* section08 end */
.section09{
    width: 100%;
}
.section{
    width: 100%;
}
.subtitle .btn {
    background-color: #f6f3f2;
    display: block;
    text-align: center;
    font-family: HyundaiSansTextKRR;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -.4px;
    line-height: 42px;
}
.sec09_bg{
    background: url('../images/09bg02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}




.video-container{
    position: relative; 
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    left: 20%;
    width: 97%;
    height: 100%;
    }

/* section09 end */

.section10{
    width: 100%;
    position: relative;
   align-items: center;
}
.disf{
    display: inline;
}


.Package_box {
    position: relative;
    width: 100%;
    margin: 3% 0 3% 0;
  }
  
  .package_img {
    /* display: block; */
    width: 80%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 0;
    background-color: rgb(0, 0, 0,0.5);
    overflow: hidden;
    width: 80%;
    height: 0;
    transition: .5s ease;
    text-align: center;
  }
  
  .Package_box:hover .overlay {
    height: 100%;
    width: 80%;
  }
  
  .overlay_txt {
    /* color: #b88a75; */
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: justify;
  }
  .padding_0{
    padding: 0;
}
.padding15{
    padding: 15px;
}
@media(max-width:600px){
    .description{
        font-size: 1rem!important;
    }
    .overlay_txt>h2{
        font-size: 1.5rem!important;
    }
}
@media(max-width:375px){
    .description{
        font-size: .7rem!important;
    }
    .overlay_txt>h2{
        font-size: 1.1rem!important;
    }
    .overlay_txt{
        width: 95%;
    }
}
/* section10 end */
.section11{
    width: 100%;
    position: relative;
}
.panel-body{
    text-align: justify;
}
.panel-body>p{
    text-align: center;
}
.panel-txt{
    padding-left: 20%;
}
/* section11 end */

.footer-bg{
    background-color: #2f2f2f;
    color:#999;
}
select {
    width: 200px;
    padding: .8em .5em;
    border: 1px solid #999;
    font-family: inherit;
    background: url('../images/arrow02.png') no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }
    
    select::-ms-expand {
        display: none;
    }
    .footer_txt{
        cursor: pointer;
    }
    


@media(min-width:639px){
    .grid img{
        width: 20%;
    } 
}
@media(min-width:640px){
    .grid img{
        width: 100%;
    } 
}
@media(max-width:640px){
/*section01*/
.title p{
    font-size:40pt;
}
.title2>p{
    font-size: 8pt;
}
/*section03*/
.outside{
    margin-left: -7%;
}
.grid img{
    width: 40%;
}
}
@media(max-width: 767px) {
    .section03-img{
        width: 100%;
        background-position: center;
      
    }
    .logo img{
        width: 30%;
    }
    .top10{
        padding-top: 25%;
    }
    .title p{
      font-size: 40pt;
      padding-top: 22%;
      color: #b88a75;
    }
    .title2{
        width: 82%;
        padding-left: 18%;
      
    }
    .title2>p{
        font-size: 10pt;
        color: ivory;
      
    }
    /* .text-main-padding {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    } */
    .section05{
        margin-top: -10%;
    }
    .swiper-container{
        margin-top: -10%;
    }
.tab-car-img>div>img{
    width: 110%;
}
    .title2>p{
        font-size: 14pt;
    }
    .left_tab{
        margin-left: 8%;
    }
     .main_txt{
        font-size: 28pt;
    } 
    .Convenience{
        margin-top: -3%;
    }
    h1{
        font-size: 25pt;
    }
    h2{
        font-size: 20pt;
    }
    h3{
        font-size: 15pt;
    }
    h4{
        font-size: 12pt;
    }
    h5{
        font-size: 10pt;
    }
    p{
        font-size: 22pt;
    }
.bottom-p p{
    font-size: 13pt;
    padding-top: 3%;
}
.iconimg{
    margin-top: -2.5%;
}
    .icon-img1 img {
        width: 40%;
    }
 



    .section20{
        width: 100%;
       
    }
    .sub-bg {
        width: 100%;
        background-position: center;
    }
    .padding-top30{
        padding-top: 5%;
    }


.Various_wrap{
    display: flex;
}
.sec07_top{
    margin-top: -10%;
}
.display_none{
    display: none;
}
.Various_img{
    width: 100%;
    height: 100%;
}
.tab-content{
    width: 100%;
}
.nav>li>a{
    width:100%;
}
/* .nav{
    margin-left: 4%;
} */
    .display-flex {
        display: flex;
    }
    .icon-txt p{
        font-size: 9pt;
    }
    .icon-ex h1{
        font-size: 14pt;
    }
    .car-color-ex h4{
        font-size: 12pt;
        width: 90%;
       margin-left: 5%;
    }
    .font-size h3{
        font-size: 14pt;
    }


    .tab-color-text>ul>li>a{
        display: block;
        width: 17px;
        height: 17px;
    }

    .tab-color-text ul{
        padding-left: 0;
        margin-left: -145px;
        margin-top: 40px;
     }  



     .model{
         padding-left: 10.5%;
     }
    .outside{
        padding-left: 9%;
    }
    .padding-5{
        padding: 5%;
    }
    /* section02 end */



    /* section03 end */
    .Interior{
        text-align: center;
    }
 .text-al{
     text-align: center!important;
 }
    .bg00{
        
        width: 100%;
        height: 25vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        transition: all 0.5s;
    }
    .bg_box{
        height: 20vh;
    }
    .modal-img{
        width: 60%;

    }
    .modal-content{
        width: 90%;
        margin-left: 25px;
        margin-top: 15%;
    }


    .body-text{
        font-size: 10pt;
        padding: 0 20px;
        text-align: justify;
    }
    .whitecar-txt{
        width: 100%;
        margin-top: -10%;
       text-align: center;
       font-size: 14pt;
       display: none;
    }
    .text-al{
        text-align: justify;
        font-size: 11pt;
        padding-left: 3%;
        padding-right: 3%;
    }
    .Interior{
        padding-left: 3%;
    }
    .text-al>li{
        font-size: 11pt;
    }
    .text-al>span{
        letter-spacing: .3px;
    }
   /* section03 end */

   .conts-area  .point.point-4 {
    top: 85%;
    left:48%;
    /* 핸드레스트 */
}
.conts-area  .point.point-5 {
    top: 13%;
    left: 50%;
    /* 계기판 */
}
.conts-area .point-6 {
    top: 61%;
    left: 60%;
    /* 제어판 */
}



.swiper-container{
    width: 100%;
}


.magintop20{
    margin-top: 20%;
}
.interior-img1{
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.sec08_top{
    margin-top: -20%;
}

.swiper-slide{
    width: 100%;
}
.swiper-slide img{
    width: 100%;
}

.ex05_txt{
    font-size: 10pt;
    margin-bottom: 12%;
}
.Multi_sub{
    margin-top: -10%;
}



.display-f>li>a{
    font-size: 10pt;
    width: 100%;
    text-align: center;

}
.varioush5>h5{
    width: 90%;
    padding-left: 3%;
    text-align: justify;
}

.pa_top20{
    margin-top: -10%;
}


.video-explain{
    display: block;
}
.p_wrap>p{
    font-size: 11pt;
}
.p_wrap>p>span{
    padding-left: 10%;
}
.section10{
    width: 100%;
}
.overlay_txt h2{
    font-size: 2rem;
}
.description{
    font-size: 1.5rem;
}
.Protection{
    margin-top: -7%;
}
.panel-body>p{
    font-size: 11pt;
}
.bottom-logo{
    width: 20%;
}
.description{
    margin-top: 10%;
}
.row_wrap{
    display: flex;
}
.description>p{
   margin-top: 5%;
}
.padding_0{
    padding: 0;
}
.wid_110{
  width:75%;
}
.grid img{
    width: 100%;
}
.bottom-logo>img{
    padding-bottom: 5%;
}
.footer_txt>p{
    font-size: 10pt;
}
.footer-bg{
    margin-top: 29%!important;
}
.swiper-container{
    width: 100%;
}
.swiper-slide{
    width: 100%;
}
 .swiper-slide>img{
     width: 100%;
 }
.disf_f{
    display: flex;
}
.panel-body div>p{
    font-size: 11pt;
}
.panel-txt{
    padding-left:30%;
}
}

@media(max-width:600px){

}
@media(max-width:375px){
    .panel-txt{
        padding-left: 3%;
    }
    .panel-body p{
        text-align: left;
    }
    .footer-bg{
        margin-top: -5%!important;
    }
}

@media all and (min-width:768px) and (max-width:1023px){
    .logo-img-width img{
        width: 30%;
        padding-top: 2%;
    }
    .title{
        padding-top: 5%;
    }



    .sub-bg{
        background-position: center;
    }
    .icon-bg{
        top: 84%;
    }
    .icon-wrap{
        top:85%;
    }





    .tab-car-img div img{
       margin-left: -5%;
       width: 90%;
    }
    .tab-color-text>ul{
        margin-left: -90%;
    }





    .text-al{
        text-align: justify;
        width: 98%;
      }




      .interior-img1{
          width: 100%;
          height: 50vh;
          overflow: hidden;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          
      }
      .pad-l{
          padding-left: 5%;
      }



      .text-al{
          text-align: center;
      }



      .Multi_sub{
          padding-top: 2%!important;
      }

      .tab-content div iframe{
          width: 97%;
          text-align: center;
      }




      .width-change{
          display: block;
      }
      .dis-change{
          display: flex;
      }
      .overlay_txt{
          width: 100%;
          padding: 10px;
      }
      .overlay_txt h2{
          font-size: 2.3rem;
          font-weight: bold;
      }
      .overlay_txt p{
          font-size: 1.9rem;
      }
      .panel-body01{
          display: flex;
          text-align: justify;
      }
      .panel-body02{
          text-align: justify;
      }

      .footer-bg{
          margin-top: 27%!important;
      }
      select{
          margin-left: -15%;
      }
      .bottom-logo img{
          width: 100%!important;
      }
    }


    @media all and (min-width:480px) and (max-width:767px) {
        .mt480{
            margin-top: 5%;
        }

        .Package_box{
            width: 100%;
        }
        .dis-change{
            display: flex;
        }
        .wid_110{
            width: 100%;
        }
        .overlay_txt{
            width: 97%;
        }
        .footer-bg{
            margin-top: 7%!important;
        }
    }

    @media all and (min-width:375px) and (max-width:479px) {
        .mt480{
            margin-top: 6%;
        }
        .dis-change{
            display: flex;
        }
        .wid_110{
            width: 100%;
        }
        .overlay_txt{
            width: 97%;
        }
        .overlay_txt p{
            margin-top: -2.8%;
        }
    }