@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;700&display=swap');

*{margin:0; font-weight: normal;}
p{
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px #999;
}
body{
    color:#333;
    font-size: 100%;
    font-family: 'Mukta', sans-serif;
}
#weather_info{
    position: relative;
    width: 100%;
    /*background: radial-gradient( #7eb7d5 40%, #427a9b);*/
    background: url('../images/09.jpg');
    border:1px solid #999;
    box-sizing: border-box;
    padding:10px;
    background-image: 100%;
    background-repeat:no-repeat;
    background-position: center;
    /* background:#eee; */
    color:#fff;
    text-align: center;
}
h1{

    padding:10px;
    font-size:1.8em;
    text-align: center;
    opacity: 0.8;
}
.icon{
    font-size:7rem;
    padding-top: 10%;
    text-align: right;
    text-shadow: 2px 2px 2px #999;
}
section{
    width: 100%;
    overflow: hidden;
    color:#fff;
    text-shadow: 1px 1px 1px #999;
     text-align: center;
}
section>.section_wrap{
    display: flex;
}
section>.section_wrap>div{
    width: 50%;
}
section>.w_id{
    text-align: center;
}
p.temp{
    font-size: 8rem;

}
section>.main_temp{
    font-size: 30px;
    text-align: left;
}
.main_icon{
    padding-top: 8%;
}
aside{
    overflow: hidden;
    text-align: center;
}
aside>p{
    font-size:1.8em;
    text-align: center;
}
aside>.aside_txt{
    font-size: 1.2rem;
}
section>.wind{
    overflow: hidden;
    font-size: 1.5rem;
    color:#fff;
}
section>.moonset{
    font-size: 1.2rem;
}
footer{
    width: 100%;
    position: relative;
    padding-top: 10%;
    background: rgb(230, 230, 230);opacity: .9;
}
footer>.bottom_wrap{
    display: flex;
    width: 100%;
}
footer>.bottom_wrap>div{
    width: 33.3%;
}
footer>.footer_bg{
    background: yellow;
    width: 100%;
}
.humi>.wi-humidity{
    font-size: 2rem;
    text-shadow: 2px 2px 2px #999;
}

.tem>.wi-thermometer{
    font-size: 2rem;
    text-shadow: 2px 2px 2px #999;
}
.win>.wi-strong-wind{
    font-size: 2rem;
    text-shadow: 2px 2px 2px #999;
}
.wind{
    font-size:1.8rem;
}
.txt{
    font-size:1.2rem;
}
.humidity{
    font-size:1.8rem;
}
/* 로딩이미지 */
#weather_info .load img{
    position: absolute;
    left: 50%;
    top: 50%;
    display:none;
}