/* @import url('reset css') */
/* @font-face { font-family: 'BinggraeTaom'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/BinggraeTaomA1.woff') format('woff'); font-weight: normal; font-style: normal; } */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800); */
/* body{
	font-family: 'Noto Serif KR', 'serif';
} */

/* 767-1280
512-0 */
#section01{
	width:100%;
	background:#f6eeda;
	position: relative;
}

.nav ul:after{
	content: "";
	display: block;
	clear: both;
}
.nav ul a{
	display: block;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
}



.menu_box li a{
	padding: 20px;
	text-decoration:none;
	color:#165851;
	/* font-family: 'Noto Sans KR', sans-serif; */
	/* font-family:'BinggraeTaom';  */
	font-family: 'Noto Serif KR', serif;
	font-size:15px; font-weight: bold;
}



	.warp{
		width: 100%;
		display: flex;
		/* padding-top: 110px; */
		padding-top: .4%;
	
	
	
	}
	.logo{
		padding-top: 1.8%;
		padding-left: 3%;
		z-index: 999999;
	}
	.nav{
		display: flex;
		padding-top: 1.8%;
		/* padding-left: 3%; */
		padding-right: 5%;
		letter-spacing: .3rem;
		z-index: 999;
	}
	.main-content-img{
		width: 50%;
		display: flex;
		align-items: center;
	}
	.main-content-txt{
		width: 50%;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		flex-direction: column;
		
	}
	.main-txt{
		-webkit-box-shadow: inset 0px -18px 0px 0px rgba(216,219,54,1);
		-moz-box-shadow: inset 0px -18px 0px 0px rgba(216,219,54,1);
		box-shadow: inset 0px -18px 0px 0px rgba(216,219,54,1);
		margin-top: 5px;
	}

	.main-content-txt h1{
		font-size: 3rem;
		line-height: 4rem;
		color: #165851;
		font-family: 'Noto Serif KR', serif;
		
	}
	.content{
		top: 5%;
		line-height: 3.5em;
		color: #165851;
		font-family: 'Noto Serif KR', serif;
	}
	.garden{
		width: 60%;
		margin: 0 auto;
	}
	.ghost_btn{
		display: none;
	}


	/* section 01 end------------------------------------------------------  */

	
#section02{
	width:100%;
	background: #ffffff;
}

.bg-box{
	width: 100%;
	height: 40vh;

}
.bg{
	width: 100%;
	height: 40vh;
	position: absolute;
	z-index: 99;
	overflow: hidden;
	background: url('../images/bg-plant.png');
	background-repeat: no-repeat;
	background-size: cover;
	
	

}
.bg-white{
	width: 100%;
	height: 40vh;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	z-index: 105;
}

.bg-txt{
	position: relative;
	padding-top: 7.5%;
	align-items: center;
	justify-content: center;

	z-index: 888;
	color:#165851;
	font-size: 2.5em;
	text-align: center;
	

}

/* 자동타이핑 */
/* #typing-txt{display: none;}

#typing h1.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
} */

/* bg end */

.txt-box{
	width: 100%;
	background: rgba(159, 204, 137,0.4);
	display: flex;

}
.aside{
	width: 40%;
	align-items: center;
	justify-content: center;
	display: flex;


}

.title{
	/* display: flex; */
	font-size: 2.5em;
	color:#165851;
	font-weight: 600;
	-webkit-box-shadow: 0px -30px 0px -20px rgba(216,219,54,1);
	-moz-box-shadow: 0px -30px 0px -20px rgba(216,219,54,1);
	box-shadow: 0px -30px 0px -20px rgba(216,219,54,1);

}
.infor{
	display: flex;
	width: 60%;
	align-items: center;
	justify-content: center;
	
}
.info-txt{
	width: 78%;
	padding-bottom: 10%;
	color: #165851;
	font-size: 1.1em;
	padding-top: 10%;
	line-height: 2.7em;
	word-spacing: .3em;
	/* letter-spacing: .3em; */

}





/* section 02 end---------------------------------------------------------  */	
	
#section03{
	width:100%; 
	background:#fff;}

.title1{
	text-align: center;

}
.title1 h2{
	line-height: 5em;
	font-size: 2.5em;
	color:#165851;
	font-weight: 600;
}
figure.snip1200 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 25%;
  max-width: 30%;
  width: 100%;
  background: #165851;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 1.4em;
}
.snip1200-box{
  display: flex;
  padding-bottom: 10%;
  padding-left: 6.8%;
}

figure.snip1200 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1200 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure.snip1200 figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 1px 1px 0;
}
figure.snip1200 .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
figure.snip1200 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  font-weight: 400;
}
figure.snip1200 h2 span {
  font-weight: 800;
}
figure.snip1200 h2:before,
figure.snip1200 h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
figure.snip1200 h2:before {
  left: -1000%;
}
figure.snip1200 h2:after {
  right: -1000%;
}
figure.snip1200 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 0.9em;
}
figure.snip1200 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  /* z-index: 1; */
}
figure.snip1200:hover img,
figure.snip1200.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1200:hover figcaption,
figure.snip1200.hover figcaption {
  top: 7%;
  bottom: 7%;
}
figure.snip1200:hover p,
figure.snip1200.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}






/* section 03 end---------------------------------------------------------  */	



#section04{
	width:100%; 
	background:#f6eeda;
}

.title2 h2{
	line-height: 4em;
	font-size: 2.5em;
	color:#165851;
	font-weight: 600;

}

.grid{
	display: flex;
}
.title2{
	text-align: center;

}
.gallery-box{
	display: flex;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;

}
.gallery-box-bottom{
	width: 50%;
	text-align: center;
	background:#f6eeda;
}
.gallery-box-bottom img{
	width:70%;
}
.gallery-txt-box{
	width: 50%;
	text-align: center;
	font-size: 1.5rem;
	padding-right: 5%;
}
.gallery-txt p{
	line-height: 5rem;
	/* padding-right: 5%; */
	padding-top: 10%;
	color: #165851;
}
#IRE{
	font-size: 3rem;
}
figcaption.gallery-txt h3{
	font-size: 1.3rem;
	color: #6dba77;
	line-height: 3em;
	
	}
figcaption.gallery-txt span{
	font-size: 1rem;
	color: #165851;
	line-height: normal;
	}

	/* figure img:honer{
		background-color: #6dba77;
	} */


	/* section 04 end---------------------------------------------------------  */	
	
#section05{
	width:100%; 

}
.map_address{
	width: 100%;
	display: flex;
	padding-bottom: 20%;

}
.title3{
	width: 40%;
	text-align: center;
	vertical-align: middle;
	padding-top: 20%;
	
}
.title3 h2{
	line-height: 4em;
	font-size: 2.5em;
	color:#165851;
	font-weight: 600;
	/* padding-top: 60%; */
}
	






.title3 p{
	line-height: 3.5em;
	color:#165851;
	font-size:1em;
} 


.map-img{
	width: 60%;
}	
.map-img img{
	width: 95%;
	padding-top: 10%;
}

/* section 05 end---------------------------------------------------------  */	



.menu_box{
	
	/* padding: 20px; */
	z-index: 999;
	width:100%; 
	display: flex;
	height:90px; 
	color:#FFF; 
	position:fixed;
	transition:all 0.5s ease-in-out; 
	-webkit-transition:all 0.5s ease-in-out;
	border-bottom:1px solid #165851;
	justify-content:space-between;
}





	
.fixed{
background:rgba(255, 255, 255, 0.705);
transition:all 0.5s ease-in-out; 
-webkit-transition:all 0.5s ease-in-out;}
	

			

			


/* .line2{
	width:100%;
} */

				

					
					/**메뉴부분 마우스 오버시 색상 **/
					.menu_box li a:hover{
						border-bottom:2px solid #d8db36; 
						padding-top:40px; 
						color:#d8db36;
					}
						
					.menu_box li:nth-child(2) a:hover{
						border-bottom:2px solid #adb46a; 
						padding-top:40px; 
						color:#adb46a; 
					}
						
					.menu_box li:nth-child(3) a:hover{
						border-bottom:2px solid #6dba77;
						padding-top:40px; 
						color:#6dba77;
					}
						
					.menu_box li:nth-child(4) a:hover{
						border-bottom:2px solid #0d773b; 
						padding-top:40px; 
						color:#0d773b;
					}
						
					.menu_box li:nth-child(5) a:hover{
						border-bottom:2px solid #2fb29f; 
						padding-top:40px; 
						color:#2fb29f;
					}

                        
@media(max-width:767px){



.nav{
	display: none;
	width: 100%;
	display:flex;
	flex-direction: column;
	position: absolute;
	text-align: center;
	padding-top: 20%;
	/* padding-right: 45%; */
	/* height: 100vh; */

}

.nav>li{
	display:none;
	font-size: 1.2rem;
	font-weight: 900;
	position: absolute;
}
.ghost_btn{

	cursor: pointer;
	padding-top: 2%;
	padding-left: 40%;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	z-index: 9999;
}

/* .ghost_btn img:hover{
	color: wheat;
} */
/* .white-box{
	display: none;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.705);
} */
/* ---------------------------------ghost_btn---------------------- */
.content{
	text-align: left;
	font-size: .8em;
	text-align: center;
}
#content1{
	width: 100%;
	padding-top: 10%;
}
.warp{
	display: block;
	align-items: center;
	padding-top: .5%;
	padding-bottom: .5%;
}


.main-content-img{
	width: 100%;
}
.main-content-txt{
	width: 100%;
}


.menu_box{
	border-bottom: unset;
}
#main-txt1{
	display: none;
}

/* <여기까지 section1> -------------------------------------------------*/


#section02{
	width: 100%;
	/* position: relative; */
}
.bg{
	width: 100%;

	/* position: absolute; */
	
}
.bg-box{
	position: relative;
}
.bgtxt-box{
	position: absolute;
}
.bg-txt{
	/* width: 90%; */
	font-size: 1rem;

	/* position: absolute; */
	/* display: block; */
	/* padding-left: 4%;
	margin: 0 auto; */
}

.bg-txt h1 span{
	display: none;
}
.bg-txt h1{
	padding-top: 10%;
	padding-left: 7%;
	line-height: 5rem;
	font-size: 3rem;
}
.txt-box{
	width: 100%;
	display: block;
}
.aside{
	width: 100%;
}
.title{
	width: 100%;
}

.title-txt{
	padding-top: 10%;
	text-align: center;
	font-size: .8em;
}
.infor{
	width: 100%;
	align-items: center;
	justify-content: center;
	padding-left: 5%;
}
.info-txt{
	letter-spacing: -.18rem;
	font-size: 1rem;
}
/* <여기까지 section2> -------------------------------------------------*/
#section03{
	width: 100%;
}
.section03-main{
	padding-bottom: 10%;
}
.snip1200-box{
	display: block;
}
figure.snip1200{
	width: 100%;
	max-width: 80%;
}
figure.snip1200 p{
	line-height: 1.5em;
	font-size: .8rem;
}
.snip1200-box{
	padding-left: 12%;
  }
.title1{
	font-size: .8em;
}
/* <여기까지 section3> -------------------------------------------------*/


.title2 {
	font-size: .8em;
}

.grid{
	display: flex;
	width: 100%;
	max-width:1920px;
	min-width: 767px;
}
figure{
	position: relative;
}
figure.gallery-txt{
display: none;
}
figcaption.gallery-txt h3{
/* line-height: 1.2em;
font-size: 1rem;
position: absolute; */
display: none;
}
figcaption.gallery-txt span{
	/* line-height: 1.2em;
	font-size: .8rem;
	text-align: left; */
display: none;
	}
#last-img{
	display: none;
}
/* #third-img{
	width: 80%;
} */
.gallery-box{
	display: block;
	width: 100%;
}
#IRE{
	display: none;
}
/* #IRE1{
	width: 80%;
} */
.gallery-box-bottom img{
	width: 180%;
	/* margin-left: 10%; */
	padding-left: 30%;
}
.gallery-txt p{
	line-height: 2.5rem;
}
.gallery-txt{
	position: relative;
	left: 18%;
	font-size: 1.3rem;
}
.gallery-txt-box{
	width: 80%;
}
/* <여기까지 section4> -------------------------------------------------*/
.map_address{
	display: block;
}
.title3{
	font-size: .8em;
	width: 100%;

}
.title3 p{
	font-size: 1em;
}
.map-img{
	width: 100%;
	text-align: center;
}



@media(min-width:768px){
	.ghost_btn{
		display: none;
	}
	.nav{
		display: block !important;
	}
	.nav li{
		float: left;
		width: auto;
	}
}









/* diplay:flex-direction */

/* h3{
    display: inline-block;
    margin-bottom: 60px;

    strong{
      display: inline-block;
      font-weight: normal;
      overflow: hidden;
      border-right: 3px solid $mint-color;
      white-space: nowrap; /* Keeps the content on a single line */
      /* margin: 0 auto; Gives that scrolling effect as the typing happens */

      /* &.animate{
        animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
      }

      @media (max-width: 1000px) {
        overflow: auto;
        white-space: normal;
        border-right: none;

        &.animate{
          animation: none;
        }
      }
    }
  }
} */


/* The typing effect */
/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $mint-color; }
} */ 





/*                         
@media(min-width:576px){
    .container{
        max-width: 540px;
        margin: 0 auto;
    }
}


@media (min-width:768px){
    .container{
        max-width: 720px;
        margin: 0 auto;
      }
}

@media (min-width:992px){
    .container{
        max-width: 960px;
        margin: 0 auto;
      }
}


@media (min-width:1200px){
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }
}                        */



/* @media(max-width: 767px){
    
    .small-info{
        display: none;
    }
    .menu{
        display: block;
    }
    .navi{
        display: none;
    }
    nav{
        justify-content: space-between;
    }
    .row{
        flex-direction: column;
    }
    .width-40{
        width: 100%;
    }
    .width-60{
        width: 100%;
    }
    .info-big{
        padding: 0;
    }
} */


                        