.slider{
    background-color: lightsalmon;
    height: 500px;
}
.content{
    background-color: lightskyblue;
    height: 500px;
}
.content1{
    background-color: lightsteelblue;
    height: 250px;
}
.content2{
    background-color: mediumaquamarine;
    height: 250px;
}
.content3{
    background-color: mediumpurple;
    height: 250px;
}
.content4{
    background-color: mediumturquoise;
    height: 250px;
}