@font-face { font-family: 'MapoFlowerIsland'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); font-weight: normal; font-style: normal; }

.section01 {
    background: url('../images/990F8E495BFF69F244.jpg');
    background-position:bottom center;
    background-size:cover;
    width: 100%;

    background-repeat: no-repeat;
}

.title {
    color: ivory;
    font-size: 60pt;
    font-family: 'MapoFlowerIsland';
}

.title-sub-txt {
    color: ivory;
    font-size: 20pt;

    font-family: 'MapoFlowerIsland';
    padding-top: 15%;
}

.text-main-padding {
    padding-top: 25%;
    display: flex;
}

.icon-img1 img {
    width: 20%;
}

.icon-bg {
    margin-top: 22%;
    background: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logo-img-width img {
    width: 4%;
    margin-top: .5%;

}
.logo-bg{
    background: #fff;
    padding: 10px;
}


.align-items {
    vertical-align: middle;
}

.padding-top-10 {
    padding-top: 5%;
}

.img-padding {
    padding-top: 4%;
    padding-bottom: 4%;
}
.line-height p{
    line-height: 30px;
    margin-bottom: -2px;
    border-top: 1px solid #2e3a36;
    border-bottom: 1px solid #2e3a36;
    font-family: 'MapoFlowerIsland';
}
.span-spacing p {
    margin-left: 3%;
    font-family: 'MapoFlowerIsland';
}

.span-spacing span {
    margin-left: 7%;
}
.margin-top-5{
    margin-top: -5%;
}

/* section01 */

.section02 {
    position: relative;
    background-color: lightgray;
    padding-bottom: 5%;
    width: 100%;
    overflow: hidden;
}

#r2t,
#mc,
#tb,
#cb,
#rf {
    display: none;
}
#r2t1,
#mc1,
#tb1,
#cb1,
#rf1 {
    display: none;
}
.colors>ul>li>a>h3{
    color: inherit;
}
.subject-wrap {
    display: flex;
}

.select-txt {
    margin-right: 45%;
    font-family: 'MapoFlowerIsland';
}


.col-sm-12>ul>li {
    list-style: none;
   }
.col-sm-4>ul>li{
    list-style: none;
}
.subject {
    font-weight: 600;
    font-size: 12pt;
}

.tab-color-text>ul>li {
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 50px;

    margin: 10px 20px;
    
}
.tab-color-text>ul>li>a{
    display: block;
    width: 30px;
    height: 30px;
}
.tab-color-text>ul {
    display: flex;
   
}

.col-sm-6>ul>li {
    list-style: none;
}

.col-sm-4>ul>li>a {
    text-decoration: none;
    color: inherit;
 }
.tab-car-img img {
    width: 80%;
}

.padding-10 {
    padding-top: 5%;
}

.padding-left-30 {
    padding-left: 30%;
}

.wc9 {
    background-color: #f2f4f3;
}

.r2t {
    background-color: #464a49;
}

.mc {
    background-color: #222c3d;
}

.tb {
    background-color: #18181a;
}

.cb {
    background-color: #381719;
}

.rf {
    background-color: #2e3a36;
}
.display-flex{
    display: flex;
}
/* section02 end */
.section03{
    width: 100%;
    padding-bottom: 7%;
}
.modal-img{
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #e5e5e5;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}
.modal-img:hover{
    -ms-transform: scale(1.02); opacity: .5;
    -webkit-transform: scale(1.02); opacity: .5;
    transform: scale(1.02);opacity: .5;
}
.modal-img1{
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #e5e5e5;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}
.modal-img1:hover{
    -ms-transform: scale(1.02); opacity: .5;
    -webkit-transform: scale(1.02); opacity: .5;
    transform: scale(1.02);opacity: .5;
    cursor: pointer;
}
.whitecar-txt{
    width: 100%;
    margin-top: -10%;
   text-align: center;
   font-size: 20pt;
   display: none;
}

/* section03 end */
.section04{
    width: 100%;
    padding-bottom: 3%;
    background-color: lightgray;
    
}
.interior-img1 img{
    width: 100%;
}
@media(max-width: 767px) {
    .logo img{
        width: 10%;
    }
    .text-main-padding {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh;
    }

    .title-sub-txt {
        padding: 0 !important;
    }
    .icon-img1 img {
        width: 40%;
    }
    
    .display-flex {
        display: flex;
    }
    .icon-txt p{
        font-size: 10pt;
    }
    .icon-ex h1{
        font-size: 16pt;
    }
    .car-color-ex h4{
        font-size: 12pt;
        width: 70%;
       margin-left: 15%;
    }
    .font-size h3{
        font-size: 14pt;
    }
    .tab-color-text>ul>li>a{
        display: block;
        width: 20px;
        height: 20px;}
    .tab-color-text ul{
        padding-left: 0;
        margin-left: -90%;
     }  



     .model{
         padding-left: 13%;
     }
    .outside{
        padding-left: 11.8%;
    }
    .padding-5{
        padding: 5%;
    }
    .modal-img{
        width: 100%;
       padding-top: 3%;
       padding-bottom:3% ;
    }
    .modal-content{
        width: 100%;
    }


    .whitecar-txt{
        width: 100%;
        margin-top: -10%;
       text-align: center;
       font-size: 14pt;
       display: none;
    }
   /* section03 end */
   }
