*{margin: 0; padding: 0;}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #222328;
}
.container{
    margin: 0 auto;
    width: 1200px;
}
nav{
    width: 1200px;
    height: 100px;
    background-color: khaki;
    justify-content: space-between;
    display: flex;
}

.navi{

    padding-top: 30px;
}
.menu{

    padding-top: 30px;

}
.main-menu{
    width: 530px;

    text-align: center;
}
.main-menu ul{
    display: flex;


}
.main-menu ul li{
    padding-left: 30PX;
    padding-right: 40px;

    border: 1px solid #000;

}

.sub-Menu{
    background-color:#555;
    width: 447px;
    height: 120px;

    display: none;
    border: 1px solid #000;
    z-index: 99999;
    position: relative;


    

}
.sub-Menu ul li{
text-align: center;
padding-left: 10px;
padding-right: 42px;

}



/* nav */
.slide-warp{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;

}
.slide-body{
    overflow: hidden;
    width: 1200px;
    height: 300px;
    transition: 1s;
    display: block;

}

/* slide */
.contents{
    width: 1200px;
    height: 200px;
    background-color: lightblue;
    display: flex;
}

.content div{
    width:400px;
}
.content-menu{
    display: flex;
}
#notice1{
  background-color: white;

}

#gallery1{
    background-color: #888;
}
.notice{
    background: #fff;
    line-height: 43.8px;
    width: 380px;
    height: 165px;
}


.gallery{
    display: none;
    background: #888;

}
.gallery ul{

    display: flex;
}



.banner-contents{
    width: 400px;
    height: 200px;
}
.banner-img img{
width: 380px;
height: 180px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
}

.go-contents{
    width: 400px;
    height: 200px;
}
.go-contents-img img{
    width: 380px;
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    }

/* contents */
.footer{
    width: 1200px;
    height: 100px;
    background-color:#000;
    display: flex;


}
.logo-bottom{
    width: 250px;
    height: 100px;
    padding-top: 30px;
}
.copy{
    width: 700px;
    height: 100px;
    padding-top: 35px;
   color: #fff;
    text-align: center;
}
.sns{
    width: 250px;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}
.sns img{
    width: 30px;
   
}
/* footer */
