*{margin: 0; padding: 0;}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #222328;
}
.container{
    margin: 0 auto;
    width: 1200px;
}
nav{
    width: 1200px;
    height: 100px;
    background-color: khaki;
    justify-content: space-between;
    display: flex;
}

.navi{

    padding-top: 30px;
}
.menu{

    padding-top: 30px;

}
.main-menu{
    width: 530px;

    text-align: center;
}
.main-menu ul{
    display: flex;


}
.main-menu ul li{
    padding-left: 30PX;
    padding-right: 40px;

    border: 1px solid #000;

}

.sub-menu{
    width: 530px;
    height: 120px;
    display: flex;
    display: none;
    border: 1px solid #000;

    

}
.sub-menu ul{
    text-align: center;

}
.sub-menu>ul>li{
padding-left: 40px;

}


/* nav */
.slide-warp{
    width: 1200px;
    overflow: hidden;

}
.slide-body{
    width: 1200px;
    height: 300px;
    background-color: lavender;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}
/* slide */
.contents{
    width: 1200px;
    height: 200px;
    background-color: lightblue;
    display: flex;
}

.content{
    width:400px;
}
.content-menu{
    display: flex;
}
#notice1{
  background-color: white;
}

#gallery1{
    background-color: #888;
}
.notice{
    width: 350px;
    height: 185;
    background: #fff;
    line-height: 35px;
}


.gallery{

    width: 350px;
    height: 185;
    background: #888;
    line-height: 35px;
}
.gallery ul{
    display: none;
}



.banner-contents{
    width: 400px;
    height: 200px;
}


.go-contents{
    width: 400px;
    height: 200px;
}

/* contents */
.footer{
    width: 1200px;
    height: 100px;
    background-color:#000;
    display: flex;


}
.logo-bottom{
    width: 250px;
    height: 100px;
    padding-top: 30px;
}
.copy{
    width: 700px;
    height: 100px;
    padding-top: 35px;
   color: #fff;
    text-align: center;
}
.sns{
    width: 250px;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}
.sns img{
    width: 30px;
   
}
/* footer */
