*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    color: #222328;
    
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
nav{
    height: 100px;
    background-color: khaki;
    /* line-height: 100px; */
}
nav{
    display: flex;
    justify-content: space-between; 
}
.mainNav{
    display: flex;
    margin-right: 30px;
}
.mainNav li{
    margin-top: 30px;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid #000;
    box-sizing: border-box;
}
.logo{
    margin-top: 30px;
}
.subNav{
    /* display: flex; */
    display: none;
    width: 400px;
    height: 180px;
    background: #b9bbc2;
    z-index:99;
    position: relative;
}
.subNav ul li{
    width: 100px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
}


/* nav */
#slide_wrap{
    width: 1200px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.slide_box{
    overflow: hidden;
}
.slide_box>ul>li>a>img{
    display: block;
    border: 0;
    width: 1200px;
    height: 300px;
    transition: 1s;
}

/* .slider{
    background-color: lavender;
    height: 300px;
} */


.content{
    height: 200px;
    display: flex;
    background-color: aquamarine;
}
.content div{
    width: 400px;
}
.tab-contents{
    background-color: white;
    width: 350px;
    height: 175px;
 margin-top: 13px;
 margin-left: 20px;
}
.tab-menu>ul{
    display: flex;
}
.tab-menu>ul>li{
    padding: 10px 0;
    width: 100px;
    text-align: center;


}
.tab-menu>ul>li:first-child{
    background-color: lightcoral;
}
.tab-1{

    line-height: 30px;
    background-color: lightcoral;
  
    height:134px ;
}

.tab-2{
    display: none;
}

/* .content{
    display: flex;
    height: 200px;
}
.content div{
    width: 400px;
}
.content-tab{
    background-color: lightgreen;
}
.tab-menu>ul{
    display: flex;
}
.tab-menu>ul>li{
    padding: 10px 3px;
    width: 100px;
    text-align: center;
}
.notice{
    padding: 20px 35px;
    line-height: 30px;
}
.tab-menu>ul>li:first-child{
    background-color: lightpink;
}

.gallary{
    display: none;


    내가 해본거_---------------------------------------------------------------------->>
} */


/* tab */


.popup{
    display: none;
    position: fixed;
    top: 100px;
    left: 350px;
    background: rgba(0, 0, 0, 0.6);
}

.popup_body{
    width: 200px;
    height: 300px;
    padding: 20px;
    background: white;
    border: 2px solid black;
}
.popup:active{
    display: block;
    opacity: 1;
}

.popup_top{
height: 80%;
text-align: center;
margin-bottom: 20px;
}

.popup_top h2{
    color: chocolate;
    margin-bottom: 20px;
    font-size: 20pt;
}
.popup_button{
    text-align: right;
}
.팝업닫기{
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

/* 팝업창-------------------------------------------------------------------- */

.banner-contents{

    /* width: 398px; */
    display: flex;
    padding-left: 1%;
    padding-top: .5%;
    padding-bottom: 2%;

}
.go-contents{

    width: 398px;

    padding-top: .5%;
    padding-bottom: 2%;
   
}
footer{
    height: 100px;
    background-color: lightslategray;
    justify-content: space-between;
    display: flex;
    background: #222328;
    align-items: center;
}

.facebook{

display: flex;
}
.facebook img{

  width: 50%;
  padding-left:290%;
    }
.insta{

    display: flex;
}
.insta img{
width: 50%;
padding-left: 290%;
}
.unnam{

    display: flex;
}
.unnam img{
width: 50%;
padding-left: 290%;
}
.logo{
    padding-top: 1%;
}
.bottom-txt{
    color: #b9bbc2;
}
.right-bottom{
display: flex;
width: 300px;

}
.banner-tab1 img{
    width: 350px;
    padding-top: 7px;
    padding-left: 17px;
}
.banner-tab2 img{
    width: 350px;
    padding-top: 7px;
}