@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

*{margin:0;padding:0;}


#fp-nav ul li a span, 
.fp-slidesNav ul li a span:active{
    background: #42366a !important;
}
.section01{
    width: 100%;
}
.main_bg{
    width: 100%;
    height: 100vh;
    background:url('../img/01bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}
.logo>img{
    width: 50%;
}
@media(max-width:767px){
    .logo>img{
        width: 85%;
        padding-top: 50%;
    }
}

/* section01 end -------------------------------------------*/

.section02{
    width: 100%;
}
.bg02{
    width: 100%;
    height: 100vh;
    background:url('../img/02bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
    
}
/* .opacity-box{
    width: 100%;
    height: 100vh;
    background:#e2bbed;
    opacity: .92;
} */
/* style="background:#e2bbed;" */
.note{
    padding-top: 5%;
}
.note>img{
    width: 100%;
}
@media(max-width:767px){
    .note>img{
        width: 100%;
        padding-top:60%
    }
}
@media(min-width:767px){
    .note>img{
        width: 100%;
        padding-top:0;
    }
}
.no-padding{
    padding: 0 !important;
}

.video_box{
    position: absolute;
    top: 15%;
    left: 20%;
    opacity: none !important;
}
.iframe-txt{
    color:#412946;
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 86%;
    left: 37%;
    
}
.iframe-txt>h3{
    padding-top:2.2%;
    letter-spacing: 7px;
    word-spacing: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
@media(max-width:767px){
    iframe{
        width: 100%;
       
    }
    .video_box{
        padding-top:38%;
        margin-left: -3%;
    }
    .iframe-txt{
        top:55%;
        left: 0;
        width: 100%;
       
    }
    .iframe-txt h3{
        font-size: 2rem;
        letter-spacing: 2px;
    }
}

/* section02 end -------------------------------------------------*/

.section03{
    width: 100%;
}
.sec-bg{
    background: linear-gradient(0deg,#bd97bb,#c78ea6);
    width: 100%;
    height: 100vh;
}
.singer_img{
    width: 100%;
    display: flex;
}
.singer_img>div>img{
    width: 100%;
}
@media(max-width:767px){

    .singer_img img{
        width: 13.6%;
    }
    .sec03-logo img{
        width: 30%;
    }
    .sub-txt img{
        width: 60%;
    }
    .singer-icon img{
        width: 60%;
    }
    .singer-name h3{
        font-size: 1.3rem;
        word-spacing: 15px!important;
        padding-left: 2%;
    }
    .sec03-last-txt h3{
        font-size: 1.2rem;
    }
    /* .sec03-wrap{
        padding-top: 50%;
    } */


}


.sec03-logo{
    padding-top: 3%;
}
.sub-txt{
    padding-top: 1%;
}
.singer-icon{
    padding-top: 2%;
}
.singer-name{
    padding-left: 2%;
    padding-top: 1%;
}
.singer-name h3{
    /* letter-spacing: 2.5px; */
    word-spacing: 45px;
    color:#412946;
    font-family: 'Noto Sans KR', sans-serif;
}
.sec03-last-txt{
    color:#412946;
    padding-top: 1.8%;
    font-family: 'Noto Sans KR', sans-serif;
}
/* section03 end -------------------------------------------------*/
.section04{
    width: 100%;
}
.sec04-bg{
    background: linear-gradient(0deg,#c78ea5,#bd97bb);
    width: 100%;
    height: 100vh;
}
.replay-wrap{
    position: relative;
    top: 10%;
    
}
.point-dot01{
    position: absolute;
    width:6px;
    height: 6px;
    border-radius: 100px;
    background-color: white;
   
    left: 44%;
    /* z-index: 99999!important; */
}
.point-dot02{
    position: absolute;
    width:6px;
    height: 6px;
    border-radius: 100px;
    background-color: white;
    /* top: 50%; */
    left: 48.5%;
}
.point-dot03{
    position: absolute;
    width:6px;
    height: 6px;
    border-radius: 100px;
    background-color: white;
   
    left: 53%;
}
.point-dot04{
    position: absolute;
    width:6px;
    height: 6px;
    border-radius: 100px;
    background-color: white;
   
    left: 59.3%;
}
.point-dot05{
    position: absolute;
    width:6px;
    height: 6px;
    border-radius: 100px;
    background-color: white;
    
    left: 63.3%;
}
/* .replay{
    position: absolute;
    left: 18%;
} */
.replay img{
    padding-top:1%;
    width: 70%;
    
}
.replay-txt{
    position: absolute;
    left: 23%;
    top: 1.8%;
    /* z-index: 99; */
}
.replay-txt h1{
    /* padding-top: 11%; */
    letter-spacing: 10px;
    word-spacing: 10px;
    color: white;
    font-size: 4rem;
}
.replay-txt h1 span{
    color: #412946;
}
.title{
    padding-top: 2%;
}
.title h3{
    word-spacing: 10px;
    letter-spacing: 5px;
    color: #412946;
}
.border-box{
    width: 70%;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 15%;
    margin-top: 3%;
}
.border-box h4{
    letter-spacing: 5px;
    word-spacing: 5.3px;
    line-height:30px;
    color: #412946;
    text-align: left;
}
.solution{
    color: #412946;
    padding-bottom: 2%;
}
.solution h1{
    padding-top: 2%;
}
.icon img{
    width: 50%;
}
.icon-txt{
    width: 75%;
    padding-top:7%;
    padding-left:23%;
    text-align: justify;
}
.icon-txt p{
    font-size:16px;
  
}
.link_round{
    width:20%;
    height:7%;
    box-sizing: border-box;
    border-radius: 100px;
    background-color:#e2bbed;
    position: absolute;
    left: 40%;
    margin-top: 3%;
}
.link_round>a>p{
    padding-top:6%;
    color:#412946;
}
.answer{
    font-size: 16px;
    font-weight: 700;
    padding-top:3%;
}
@media(max-width:767px){

    .replay-txt h1{
        font-size:2rem;
        word-spacing:4px;
        letter-spacing:2px;
        margin-top: 2%;
    }
    .title h3{
        font-size:1.5rem;
        letter-spacing:0px;
        word-spacing:1px;
    }
    .border-box h4{
        font-size: 1.5rem;
        letter-spacing:1px;
        word-spacing:1px;
    }
    .solution h1{
        font-size:2rem;
    }
    .icon>img{
        display:inline;
    }
    .icon img{
        width: 70%;
    }
    .icon-wrapper{
        display: flex;
    }
    .icon-txt{
        width: 100%;
        padding-left: 0;
    }
    .icon-txt p{
        font-size:1.2rem;
    }
    .answer{
        font-size: 1.2rem;
    }
    .link_round{
        width: 28%;
        margin-left: -4%;
    }
    /* .replay-wrap{
       top:20%;
    } */
}

/* section04end -------------------------------------------------*/
.section05{
    width: 100%;
}
.sec05_bg{
    background:url('../img/05bg.jpg');
    width: 100%;
    height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
}
.event_box{
    width: 50%;
    height:50%;
    background:white;
    position: absolute;
    top: 30%;
    left: 25%;
    filter:drop-shadow(5px);
}
.event_img{
    width:60%;
    position: absolute;
    top: 20%;
    left: -15%;
    
}