*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
p,h6, address{
	font-family: 'Lato', sans-serif;
	color: #777;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #fcc8b6,#fec9fd,#d4b6fc,#d2f5ff);
    z-index: -1;
}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}
#logo{
    grid-column: 2/3;
    width: 100%;
    height: 30px;
}

.mobile-btn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7%;
    left: 88%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 99;
}

.mobile-btn span{
    width: inherit;
    height: 5px;
    background-color: #7ff2ff;
    display: inline-block;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}


.mobile-btn span:after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #8115ff;
    transition: 0.5s;
}
.mobile-btn span:before{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #8115ff;
    transition: 0.5s;
}
.mobile-btn span:before{
    top:0;
    top:-15px;
}
.mobile-btn span:after{
    top:0;
    top:15px;
}
.mobile-btn.active span{
    background-color: transparent;
}
.mobile-btn.active span:before{
    top:0;
    transform: rotate(45deg);
}
.mobile-btn.active span:after{
    top:0;
    transform: rotate(-45deg);
}
/*햄버거 버튼 클릭시 나오는 메뉴들*/
.menudrop{
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}
.menudrop ul{
    line-height: 17rem;
    font-size: 10rem;
    color: #7ff2ff;
    cursor: pointer;
}
.menudrop ul li span{
    font-size: 4rem;
}
.menudrop>ul>li{
    color: #7ff2ff;
}
.menutxt>li>a{
    color:#7ff2ff;
}
.menutxt>li>a:hover{
    color:#fff;
    transition:all 0.3s;

}
.menutxt>li:hover{
    background: #8115ff;
    transition:all 0.3s;
}
section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.main{
    height: 60%;
    width: 100%;
    position: relative;
}
.main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headline{
    position: absolute;
    top: 60%;
    left: 10%;
    font-size: 100pt;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
}
.main::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity:0.3 ;
}
@media (min-width: 768px){
    .menudrop ul li a{
		font-size: 10rem;
	}
	.menudrop ul li a span{
		font-size: 4rem;
	}

}
@media (max-width: 767px){
    .menudrop ul li{
        font-size: 3rem;
    }
	.menudrop ul li a{
		font-size: 4rem;
	}
	.menudrop ul li a span{
		font-size: 2rem;
	}
    .headline{
        font-size: 3.5rem;
    }
}

