*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a {
	color: #000;
}

a:hover, a:focus{
	color: #000;
}


p{
	margin-bottom: 40px;
}

p,h6, address{
	font-family: 'Lato', sans-serif;
	color: #777;
}

h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
}
header{
	height: 800px;
	text-align: center;
	margin-bottom: 0;
	position: relative;
	background-image: url(../img/portfolio/01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}

section{
	padding: 50px 0;
}

section.no-padding{
	padding: 0;
}

figure{
	margin-bottom: 30px;
}

.container{
	position: relative;
}

.form-control{
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	border-color: #8a8587;
	padding: 14px;
	font-size: 13px;
	height: auto;
	margin-bottom: 25px;
}

.form-control:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}



textarea.form-control{
	height: 195px;
}

.title{
	text-align: center;
}
.title-left{
	text-align: left;
}

.title p{
	padding: 50px;
}

.section-text{
	padding: 50px 0;
}

.navbar-header{
	height: 90px;
}

.navbar-wooster{
	background: #fff;
	height: 70px;
}

.navbar-wooster .navbar-brand{
	padding-top: 8px;
}

.position_ab{
	position: relative;
}
.navbar-header>.navbar-brand{
	position: absolute;
	left: 10%;
	top: 10%;
}

/* .navbar-wooster .primary-menu{
	margin-top: 0;
	margin-left: -15px;
	margin-right: -15px;
} */

.navbar-wooster .navbar-collapse{
	background-color: #fff;
}

.navbar-wooster .navbar-header{
	height: 50px;
}

.navbar-toggle{
	display: block !important;
	margin-top: 20px;
}

.navbar-toggle .icon-bar{
	background: #000;

}



/* 햄버거 메뉴 */
.mobile-btn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 70%;
    left: 88%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 9999;
}

.mobile-btn span{
    width: inherit;
    height: 5px;
    background-color: #7ff2ff;
    display: inline-block;
    position: absolute;
    top: 50%;
    left:70%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}


.mobile-btn span:after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #8115ff;
    transition: 0.5s;
	left: 2%;
}
.mobile-btn span:before{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #8115ff;
    transition: 0.5s;
	left: 2%;
}
.mobile-btn span:before{
    top:0;
    top:-15px;
}
.mobile-btn span:after{
    top:0;
    top:15px;
}
.mobile-btn.active span{
    background-color: transparent;
}
.mobile-btn.active span:before{
    top:0;
    transform: rotate(45deg);
}
.mobile-btn.active span:after{
    top:0;
    transform: rotate(-45deg);
}
/*햄버거 버튼 클릭시 나오는 메뉴들*/
.menudrop{
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
.menudrop ul{
	background: white;
	line-height: 29.2rem;
    /* font-size: 10rem; */
    color: #7ff2ff;
    cursor: pointer;
	padding: 0;
}
.menudrop ul li span{
    font-size: 7rem;
}
.menudrop>ul>li{
    color: #7ff2ff;
	font-size: 15rem;
	text-align: left;

}
.menutxt>li>a{
	text-decoration: none;
}
.menutxt>li>a{
    color:#7ff2ff;
}
.menutxt>li>a:hover{
    color:#fff;
	transition:all 0.3s;
}
.menutxt>li:hover{
    background: #8115ff;
	transition:all 0.3s;
}








.main-head h1{
	text-transform: uppercase;
	font-size: 45px;	
	position: relative;
	line-height: 1.4em;
	margin-bottom: 40px;
}

.main-head span{
	margin-bottom: 20px;
	margin-top:20px;
	font-size: 13px;
	display: block;

}

.main-head{
	text-transform: uppercase;
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
}



.divider{
	width: 80px;
	background: #000;
	height: 1px;
	display: block;
	margin:20px auto;
}

.divider.divider-sm{
	width: 40px;
	margin: 20px 0;
}

.divider.divider-lg{
	width: 180px;
}

.btn{
	width:30%;
	height: 12%;
	right: 35%;
	border-radius: 0;
	font-size: 13px;
	transition: all 0.3s;
	position: absolute;
	top:95%;
	font-weight: bold;
}

.btn:hover{
	background: #8115ff;
	transition: all 0.3s;
}
.btn:hover>a{
	color: white;
	transition: all 0.3s;
	text-decoration: none;
}
.btn01{
	position: absolute;
	top:99%;
	right: 35%;
	width:30%;
	height: 12%;
	font-weight: bold;
	border-radius: 0;
	border: none;
	font-size: 13px;

	transition: all 0.3s;
}
.btn01:hover{
	background: #8115ff;
	transition: all 0.3s;
}
.btn01:hover>a{
	color: white;
	transition: all 0.3s;
	text-decoration: none;
}
.btn02{
	position: absolute;
	top: 95%;
	right: 37%;
	width: 30%;
	height: 12%;
	font-weight: bold;
	border-radius: 0;
	border: none;
	font-size: 13px;

	transition: all 0.3s;
}
.btn02:hover{
	background: #8115ff;
	transition: all 0.3s;
}
.btn02:hover>a{
	color: white;
	transition: all 0.3s;
	text-decoration: none;
}

.btn04{
	position: absolute;
	top: 95%;
	left: 50%;
	width: 30%;
	height: 13%;
	font-weight: bold;
	border-radius: 0;
	border: none;
	font-size: 13px;

	transition: all 0.3s;
}
.btn04:hover{
	background: #8115ff;
	transition: all 0.3s;
}
.btn04:hover>a{
	color: white;
	transition: all 0.3s;
	text-decoration: none;
}

.btn05{
	position: absolute;
	top: 95%;
	/* right: 35%; */
	width: 30%;
	height: 13%;
	font-weight: bold;
	border-radius: 0;
	border: none;
	font-size: 13px;

	transition: all 0.3s;
}
.btn05:hover{
	background: #8115ff;
	transition: all 0.3s;
}
.btn05:hover>a{
	color: white;
	transition: all 0.3s;
	text-decoration: none;
}



.btn-lg{
	padding: 25px 50px;
}

.btn-lg.btn-primary{
	border-width: 2px;
}

.btn-primary{
	background: transparent;
	border:1px solid #000;
	color: #000;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:focus{
	background: #000;
	color: #fff;
	border-color:#000;
}

.call-to-action{
	background: #000;
	color: #fff;
	padding: 50px 0;
}




/**********************
PORTFOLIO
***********************/
.centered-pills {
	text-align: center;
}
.centered-pills ul.nav-pills {
	display: inline-block;
	margin-bottom: 50px;
}
.centered-pills li {
	display: inline;
}
.centered-pills a {
	float: left;
}

.nav-pills > li > a{
	border-radius: 0;
	color: #000;
	border:1px solid #7ff2ff;
	margin-right: 20px;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li > a.active{
	background: #8115ff	;
	border-color: #8115ff;
	color: #fff;
}

#portfolio-grid .mix{
	display: none;
}

.mix{
	position: relative;
	padding: 70px;
}
.wid_ch1{
	text-align: center;
}

.grey>img{
	box-shadow:5px 5px #9f9f9f, 10px 10px #c8c8c8, 15px 15px #e9e8e9;
	width: 100%;
	height: 500px;
}

.SITE:hover .overlay{
	opacity: 1;
}
.mix:hover .overlay {
	opacity: 1;
  }
.mix:hover .overlay_top10 {
	opacity: 1;
  }
  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10%;
	right: 0;
	height: 100%;
	width: 80%;
	opacity: 0;
	transition: .5s ease;
	background-color:rgba(255, 255, 255, 0.8) ;
  }
  .overlay_top10 {
	position: absolute;
	top: 11%;
	bottom: 0;
	left: 10%;
	right: 0;
	height: 80%;
	width: 80%;
	opacity: 0;
	transition: .5s ease;
	background-color:rgba(255, 255, 255, 0.8) ;
  }
  .img-responsive {
	display: block;
  }
  .text {
	color: rgb(29, 29, 29);
	font-size: 2.5rem;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }
  .text p{
	color: rgb(29, 29, 29);
	  line-height: 30px;
	  font-size: 1.8rem;
	  font-weight:lighter;
  }
/******
TESTIMONIAL
**********/
.testimonial{
	
	background: url(../img/coffe.jpg) no-repeat center;
	background-size: cover;
	position: relative;
}

.mask{
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,0.8);
	
}

.single-testimonial{
	padding: 80px 0;
	text-align: center;

}

.single-testimonial .fa{
	width: 50px;
	height: 50px;
	background-color: #fff;
	color: #000;
	margin-bottom: 30px;
	line-height: 50px;
	text-align: center;
	border-radius: 100%;
}

.testimonial p{
	font-size: 17px;
	text-transform: uppercase;
	color: #fff;
}

.testimonial h6{
	color: #fff;
}

.team-member{
	position: relative;
	margin-bottom: 70px;
}

.team-member h6{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.8);
	color: #fff;
	margin: 0;
	text-align: center;
	padding: 30px 0;
}


.subscribe-input{
	text-align: left;
	width: 100%;
	border: 0 none;
	background: transparent;
	opacity: 0.9;
	border: 1px solid #fff;
	padding: 14px;
}

.btn-cta{
	background-color: #fff;
	border: 1px solid #fff;
	color: #000;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	padding: 15px 25px;
	text-transform: uppercase;
	width: 100%;
}

address{
	text-align: center;
	margin-bottom: 70px;
}

address .fa{
	display: block;
	font-size: 33px;
	margin-bottom: 20px;
}
/**FOOTER**/
footer{
	background: #000;
	padding: 80px 0;
	margin-top: 3%;
}

footer,
footer p{
	color: #fff;
}

footer a{
	color: #fff;
	font-weight: bold;
}

footer a:hover{
	color: #fff;
	text-decoration: underline;
}


.logo-footer{
	margin-bottom: 40px;
}

/*******************************
SOCIAL ICONS
******************************/
ul.social{
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}

ul.social li{
	display: inline-block;
	width: 30px;

}

ul.social li a{
	text-decoration: none;

}


ul.social li a i{
	color: #fff;
	width: 32px;
	height: 32px;
	display: block;
	line-height: 32px;
	text-align: center;
	border-radius: 100%;
	-webkit-transition: all 0.5;
	transition: all 0.5s;
}


ul.social li a i:hover,
ul.social li a i:focus{
	
	background-color: #fff;
	color: #000;

}


/*****************************
RESPONSIVE
******************************/
@media (max-width: 1024px){
	.menudrop ul{
		line-height: 25rem;
	}
	.menudrop>ul>li{
		font-size: 10rem;
	}
	.menudrop ul li span{
		font-size: 6rem;
	}
}
@media (min-width: 768px){
	/* .primary-menu{
		position: relative;
		overflow: hidden;
		margin-top: 18px;
	} */
	.navbar-brand>img{
		width: 60%;
	}
	.primary-menu .navbar-nav{
		right: -75%;
		position: absolute;
		margin-top: 12px;
		opacity: 0;
		transition: 300ms all ease-in-out;
	}

	.primary-menu:hover .navbar-nav{
		right: 50px;
		opacity: 1;
	}

}

@media (max-width: 767px){

	.navbar-toggle{
		margin-top: -45px;
	}
	.navbar-brand>img{
		margin-left: -20%;
	}
	.navbar-wooster .navbar-toggle{
		margin-top: -25px;
		padding: 0;
	}
	.overlay{
		width: 100%;
		height: 90%;
		top: 5%;
		left: 0;
	}
	.overlay .text{
		font-size: 18px;
	}
	.overlay .text p{
		font-size: 15px;
	}
	.mix{
		padding: 30px 30px;
		width:100%;
		height: auto;
	}
	.wid_ch1{
		width: 50%;

	}
	.btn{
		/* width: 30%;
		height: 20%; */
		top: 100%;
	}
	.btn01{
		top: 100%;
		width: 40%;
		height: 10%;
	}
	.btn02{
		width: 30%;
		height: 16%;
	}

	.btn04{
		top: 100%;
	}
.overlay_top10{
	top: 5%;
	left: 0;
	width: 100%;
	height: 100%;
}
	.menudrop>ul>li{
		font-size: 5rem;
	}
	.menudrop ul li span{
		font-size: 2.8rem;
	}
	.menudrop ul{
		line-height: 17rem;
	}
	.grey>img{
		
		width: 100%;
		height: 500px;
	}
}
@media (max-width: 480px) {
  .nav-pills > li > a{
	  margin-right: 0;
  }
  .navbar-brand>img{
	  width: 65%;
	  top: 2%;
  }
  .btn{
	  width: 40%;
	  height: 17%;
	  right: 30%;
  }
  .btn01{
	  width: 50%;
	  right: 25%;
	  height: 12%;
  }
  .btn04{
	  height: 15%;
	  top: 93%;
  }
  .btn05{
	height: 15%;
	top: 93%;
}
.overlay{
	top: 7%;
}
.overlay .text{
	font-size: 18px;
}
.overlay .text p{
	font-size: 15px;
	line-height: 17px;
}
/* .mix img{
	width: 100%;
	height: 60%;
} */
.product img{
	width: 95%;
	height: 350px;
}
.overlay_top10 .text{
	font-size: 18px;
}
.overlay_top10 .text p{
	font-size: 15px;
	line-height: 17px;
}
.footer{
	padding:50px 0;
}
}